@import url(https://fonts.googleapis.com/css?family=Ruda:regular,500,600,700,800,900);

body{
  font-family: Ruda;
  background-image: url('./public/grass-bg.jpg')
}

.container{
  background-color: #f1f1f1;
}

#card-img img{
  transition: all 1.0s ease;
}

#card-img:hover img{
  transform: scale(1.5)
}
/* bg-light bg-opacity-80 bg-gradient */
